<style>
.seoranging_table td{
    padding: 5px 10px;    
    vertical-align: top;
}
</style>
<script>

function del_but(e){
        $(e).parent().parent().remove();
    }

$(document).ready(function(){
    $('.add-but').click(function(){
        $('.seoranging_table').append(
        '<tr><td>\
            <input type="text" size="80" name="link[]" />\
        </td><td>\
            <textarea cols="60" rows="2" name="keywords[]"></textarea><p class="gray">Ключевые слова вводятся через запятую</p>\
        </td><td>\
            <input type="text" name="count[]" />\
        </td><td>\
            <a onclick="del_but(this);" href="javascript:void(0);"><i class="icon16 delete"></i>Удалить</a>\
        </td></tr>'
        );
    });
    
});
</script>

<h1>Ссылочное ранжирование</h1>
<div     class="fields form">
    <form action="?plugin=seoranging&action=save" method="post" id="plugins-settings-form">
    {$wa->csrf()}
    
    {literal}
    <p>{shopSeorangingPlugin::display()} - Код хелпера вывода</p>
    {/literal}
    <p class="gray">
    <i class="icon16 exclamation"></i>
    Используя этот код Вы можете осуществить вывод ссылки в любом месте вашей темы оформления, это позволяет избавиться от привязки к конкретным местам вывода плагина
    </p>
    

    
    
    <div class="field">
        <div class="name">
            Вывод ссылки в стандартном месте
        </div>
        <div class="value">
            <select name="shop_seoranging[default_output]">
                <option {if $settings.default_output == 1} selected="selected"{/if} value="1">Включен</option>
                <option {if $settings.default_output == 0} selected="selected"{/if} value="0">Выключен</option>
            </select>
            <p class="gray">
            <i class="icon16 exclamation"></i>
            Вы можете отключить стандартный вывод, это может быть полезно если вы используете хелпер вывода
            </p>
        </div>
    </div>
    
    <div class="field">
        <div class="name">
            Шаблон ссылки
        </div>
        <div class="value">
            <input type="text" name="shop_seoranging[tpl_link]" value="{$settings.tpl_link|escape}"  />
            
                {literal}
                <p class="gray">
                {keywords} - Ключевые слова; {link} - ссылка на продвигаемую страницу
                </p>
                {/literal}
            
        </div>
    </div>

    
    <div class="clear"></div>
    <p>
    Количество страниц: {$count_page}
    </p>
    
    <table class="seoranging_table">
    <tr>
    <td>Продвигаемая страница</td><td>Ключевые слова</td><td>Количество генерируемых ссылок</td>
    </tr>
    {foreach from=$rows item=row}
    <tr>
    <td>
    <input type="text" size="80" name="link[]" value="{$row.link|escape}"  />
    </td>
    <td>
    <textarea cols="60" rows="2" name="keywords[]">{$row.keywords|escape}</textarea>
    <p class="gray">Ключевые слова вводятся через запятую</p>
    </td>
    <td>
    <input type="text" name="count[]" value="{$row.count|escape}"  />
    </td>
    <td>
    <a href="javascript:void(0);" onclick="del_but(this);" ><i class="icon16 delete"></i>Удалить</a>
    </td>
    </tr>
    {/foreach}
    </table>
    
    <a href="javascript:void(0);" class="add-but"><i class="icon16 add s-new-list"></i>Добавить</a>
    
    <a target="_blank" href="?action=report"><i class="icon16 notebook"></i>Отчет</a>
    



    <div class="field">
        <div class="value submit">
            <input type="submit" class="button green" value="Сохранить">
            <span id="plugins-settings-form-status" style="display:none">
                <i style="vertical-align:middle" class="icon16 yes"></i> [`Saved`]
            </span>
        </div>
    </div>
    </form>
</div>

