<form enctype="multipart/form-data" action="?plugin=slider&action=save">

    <div class="field">
        <div class="name">
            Ссылка
        </div>
        <div class="value">
            <input type="text" name="file" />
        </div>
    </div>

    <div class="field">
        <div class="name">
            Изображение
        </div>
        <div class="value">
            <input type="file" name="file" />
        </div>
    </div>

    <div class="field">
        <div class="value submit">
            <input type="submit" value="Сохранить" class="button green">
            <span style="display:none" id="plugins-settings-form-status">
                <i class="icon16 yes" style="vertical-align:middle"></i> Saved
            </span>
        </div>
    </div>

</form>