<form id="form-add-slider" action="?plugin=slider&action=saveslider">
    <input type="hidden" name="slider[id]" value="{$slider.id}" />
    <div class="field">
        <div class="name">Доступен</div>
        <div class="value">
            <select name="slider[enabled]">
                <option {if $slider.enabled==0}selected="selected"{/if} value="0">Нет</option>
                <option {if $slider.enabled==1}selected="selected"{/if} value="1">Да</option>
            </select>
            
        </div>
    </div>
    <div class="field">
        <div class="name">Название слайдера</div>
        <div class="value"><input type="text" name="slider[name]" value="{$slider.name}" class="long bold" /></div>
    </div>

    <div class="field">
        <div class="value submit">
            <input type="submit" value="Сохранить" class="button green">
            <span style="display:none" id="form-result">
                
            </span>
        </div>
    </div>
</form>