<div class="sidebar left200px s-inner-sidebar" id="slider-sidebar">
    
    <div class="block">
        <ul class="menu-v with-icons">
            <li class="bottom-padded">
                <a class="bold" href="#/addslider/"><i class="icon16 add"></i>Новый слайдер</a>
            </li>

             
        </ul>
    </div>
    
    
</div>

<div class="content left200px blank" id="slider-content">
    <div class="block triple-padded"><i class="icon16 loading"></i>[`Loading...`]</div>
</div>


<script type="text/javascript" src="{$wa_app_static_url}plugins/slider/js/slider.js?{$wa->version()}"></script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/slider/js/scripts.js?{$wa->version()}"></script>
<script>$(function() {
    $.slider.init();
});</script>
